@model int

<div class="text-center">
    <h1 class="text-info pt-4">Parabéns! E obrigado pela confiança!</h1>
    <p class="pb-3">Acompanhe seu pedido em nosso site ou no seu e-mail.</p>
    <h4 class="text-warning pb-3">Número do pedido: @Model</h4>
    <img src="~/images/site/pedido_feito.jpg" />
</div>
