@model Personal.Shopping.Manager.Web.Models.Product.CategoryDto

@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-warning text-dark">
        <h3 class="mb-0">Editar Categoria</h3>
    </div>

    <div class="card-body">
        <form asp-action="CategoryEdit" method="post">
            <input type="hidden" asp-for="CategoryNameId" />

            <div class="mb-3">
                <label asp-for="CategoryName" class="form-label">Nome</label>
                <input asp-for="CategoryName" class="form-control" />
            </div>

            <button type="submit" class="btn btn-warning">Salvar</button>
            <a asp-action="CategoryIndex" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
