@model Personal.Shopping.Manager.Web.Models.Product.ProductViewModel

@{
    ViewData["Title"] = "Editar Produto";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-warning text-dark">
        <h3 class="mb-0">Editar Produto</h3>
    </div>

    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Product.ProductId" />

            <div class="mb-3">
                <label asp-for="Product.Name" class="form-label">Nome</label>
                <input asp-for="Product.Name" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Product.ImageUrl" class="form-label">URL da Imagem</label>
                <input asp-for="Product.ImageUrl" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="CategoryName" class="form-label">Categoria</label>
                <select asp-for="Product.CategoryNameId" class="form-select" asp-items="Model.Categories"></select>
            </div>

            <div class="mb-3">
                <label asp-for="Product.Price" class="form-label">Preço</label>
                <input asp-for="Product.Price" class="form-control" />
            </div>

            <button type="submit" class="btn btn-warning">Salvar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
